
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

@keyframes slideIn {
  0% {
    transform: skewX(0deg) translateX(-2rem) ;
    opacity: 0%;
  }

  100% {
    transform: skewX(0deg) translateX(0rem);
    opacity: 100%;
  }
}

main {
  min-height: 80vh;
}

#root {
  background-color: #3a79a6;
background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='126' height='126' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%23939493' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%23b3b4b3' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%23939493' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%23b3b4b3' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23d2d4d2' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%238f2828' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%23ad3030' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23cc3939' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%23ad3030' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%238f2828' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23cc3939' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%238f2828' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23cc3939' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%23ad3030' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23cc3939' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");

}


h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* container for welcome */

.containerBox {
  border-radius:2%;
  background-color: rgb(244, 244, 247);
  /*max-width:2000px;*/
  box-shadow: 10px 15px 15px rgb(20, 20, 20);
  margin-bottom:6rem ;
}

.instructionSpace {
  margin-bottom:1rem;
}

.transactionSpace {
  margin-bottom:4rem;
  margin-top:4rem;
}

.widthOfElements{
  max-width:80%;
}

.widthOfElements2{
  max-width:7rem;
}


/* THE LOGO IN THE NAVBAR*/
.bridgeNavLogo {
  display:none;
  width:13rem;display:none;
  margin-top:-2rem;
  margin-bottom:-2rem;
 }


/* THE LOGO BEFORE THE WELCOME*/
.bridgeLogo {
 width:4rem;
 height:5rem;
 margin-top:2rem;
}



/* WELCOME TO BRIDGEWAY KIDS*/
.welcomeFont {
   font-family: 'Amatic SC', cursive;
  font-size: 2.8rem;
  animation: slideIn 800ms 2000ms;
  margin-top:1rem;
  margin-bottom: 2rem;
  
}

.transactionLogsTitle {
  font-family: 'Amatic SC', cursive;
 font-size: 2.8rem;
 animation: slideIn 800ms 2000ms;
 margin-top:3rem;
 margin-bottom: 2rem;
 
}


/* THE HORIZONTAL LINES SEPARATING THE BALANCES*/

.dottedLine {
  border-top: 2px dashed black;
}

.dottedLine2 {
  margin-bottom: 3rem;
  border-top: 2px dashed black;
}

/* INPUT LABEL FIELD FOR ACCOUNT NUMBER */

.accountLabel {
  margin-top: 5rem;

}

.accountInput { 
  border:2px black;
   border-style:dashed;
} 


/*TO CENTRALIZE OPTIONS IN THE DROPDOWN MENU*/
.optionCentralize {
  max-width: 8rem;
  margin-top:1.5rem;
}


/*THE TABLE FOR THE TRANSACTIONS */

.tablelayout {
 width:150%;
 /*overflow-x:visible;*/
 height: auto;
 
 margin-left:-6rem;
 margin-top:5rem;
 margin-bottom:8rem;
}

@media screen and (max-width:768px) {
  .tablelayout {
    margin-left:0rem;
    width:100%;
    overflow:hidden;
  }
}




/*VIEW BALANCE BUTTON*/
 .vbButton {
  
  width:100%;
  margin-bottom: 3rem;
 }


 /*UPLOAD BUTTON FOR UPDATE CABA SCREEN*/

 .buttonMargin {
   margin-top: 5rem;
   margin-bottom: 2rem;
 }

/*TRANSACTION LOG TABLE SMALL FONT TO ENSURE EVERYTHING IS ON A SINGLE LINE*/
  .singleLine{
    font-size:0.7rem;
  }

  @media screen and (max-width:768px) {
    .singleLine{
      font-size:0.5rem;
    }
  }

/*TABLE ROW PADDING*/
 .rowPadding{
  padding:-0.5rem;
 }
/*carousel*/

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 25%;
}

.carousel a {
  margin: 0 auto;
}

/*FOOTER STYLES*/
.whiteText {
  color:black;
  font-weight:900;
}